<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Saved News</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of savedNews" [routerLink]="['/saved-details', item.id]">
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- display this if nothing saved -->
  <div class="message" *ngIf="savedNews.length === 0">
    <ion-text>Nothing to display...</ion-text>
  </div>

</ion-content>

<ion-footer *ngIf="savedNews.length != 0">
  <ion-button class="footer-button" color="primary" expand="full" (click)="clearSavedNews()">Clear Saved News</ion-button>
</ion-footer>