<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Prevention Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngFor="let item of cyberFraudTechniques">
    <ion-accordion value="{{ item.sn }}">
      <ion-item slot="header" color="light">
        <ion-label>{{ item.technique }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><span>Technique:</span> {{ item. description }} <br>
        <span>Prevention:</span> {{ item.prevention }}
      </div>
    </ion-accordion>
    </ion-accordion-group>
</ion-content>
