<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>All News</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let news of allNews" [routerLink]="['/news', news.id]">
      <ion-label>{{ news.title }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="errorMsg" *ngIf="errorMsg">
    Please connect to Internet...
  </div>

</ion-content>