<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>News Reader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="upper-container">
    <div class="content-container">
      <div>
        <div class="news-title">
          {{ currentNews?.title }}
        </div>
      </div>
    </div>
      <ion-img [src]="currentNews?.image" alt="image display requires internet connection"></ion-img>
  </div>

  <div class="news-body ion-padding">
    {{ currentNews?.body }}
  </div>


    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="share-social-outline" (click)="shareNews(currentNews)"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="save-outline" (click)="saveNews(currentNews)"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>