<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <p class="heading-top">A Final Year Project of:</p>
  <p class="owner">Mahmud Ebuka Haruna <br> (U18CS1042) </p>
  
  
  <p class="heading">Crime Reporter and News:</p>

  <ion-text>Your one-stop solution for reporting crimes and accessing related emergency lines in Nigeria. Our mission is to create a safer and more secure community for everyone.</ion-text>

  <p class="heading">About the App:</p>
  <ion-text>
    This Crime Reporting and News App is a powerful tool designed to help individuals report crimes quickly and efficiently while bringing news to the hands of users. In such times of unrest in the country and world at large, crimes have become a significant concern, and this app aims to provide a secure and accessible platform for reporting such incidents. This App also carries tips for awareness in relation to crimes, and emergency lines/e-mails for contacting crime agencies in Nigeria.
  </ion-text>

  <p class="heading">Key Features:</p>

  <ul>
    <li>
      <ion-text>Provides a means of reporting crime via Text and Multimedia to Agencies Emails.</ion-text>
    </li>
    <li>
      <ion-text>Provides list of functional phone numbers of crime commision agencies.</ion-text>
    </li>
    <li>
      <ion-text>Provides Crime Prevention Tips to educate users on crime and help them understand how to avoid being victims.</ion-text>
    </li>
    <li>
      <ion-text>Gives news on crime related matters.</ion-text>
    </li>
    <li>
      <ion-text>Allow for offline view of saved news and reports.</ion-text>
    </li>
  </ul>
 

  <p class="heading">Disclaimer</p>
  <ion-text>Disclaimer: This app is not developed as a replacement for legal authorities. In case of emergencies please contact your local law enforcement agency.</ion-text>

  <p class="heading">Agencies in This App:</p>

  <ul>
    <li>
      <a href="https://www.efcc.gov.ng/efcc/" target="_blank">Economic and Financial Crimes Commision (EFCC)</a>
    </li>
    <li>
      <a href="https://www.npf.gov.ng/" target="_blank">Nigerian Police Force (NPF)</a>
    </li>
    <li>
      <a href="https://justicegroup.org/" target="_blank">Justice Group</a>
    </li>
    <li>
      <a href="https://icpc.gov.ng/" target="_blank">Independent Corrupt Practices and Other Related Offences Commission (ICPC)</a>
    </li>
    <li>
      <a href="https://www.ncc.gov.ng/" target="_blank">Nigerian Communications Commission (NCC)</a>
    </li>
  </ul>
  

</ion-content>