.heading-top {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.6rem;
}
.owner {
    text-align: center;
    margin-bottom: 2rem;
}

.heading {
    margin-top: 1.4rem;
    font-weight: bold;
    font-size: 1rem;
}

ion-text {
    display: block;
    font-size: 0.9rem;
    line-height: 16px;
    font-weight: 24px;
    color: #747373;
}

a {
    margin-bottom: 1rem;
    color: #747373;
}