<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>File a Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-input required label-placement="stacked" type="text" fill="outline"
    [(ngModel)]="location">
      <div slot="label">Location <ion-text color="danger">*</ion-text></div>
    </ion-input>

    <ion-input label="Phone Number" label-placement="stacked" type="text" fill="outline"
    [(ngModel)]="phone"></ion-input>

  <ion-textarea required label-placement="stacked" type="text" fill="outline"
    [(ngModel)]="message" rows="6">
    <div slot="label">Message <ion-text color="danger">*</ion-text></div>
  </ion-textarea>

  <ion-text id="may-attach">Attach file:</ion-text> <ion-text color="danger">*</ion-text>
  <input type="file" id="selected-file" accept=".jpeg,.jpg,.png,.mp4" (change)="onFileSelected($event)">


  <p class="note"><span>Note</span>: this form will be sent to the Economic and Financial Crimes Commision (EFCC), Nigerian Police Force (NPF), Justice Group, Independent Corrupt Practices and Other Related Offences Commission (ICPC), and Nigerian Communications Commission (NCC).</p>

  <p id="dateAndTime">{{ currentDate | date: 'EEE, MMM d, yyyy &mdash; HH:mm:ss' }}</p>


</ion-content>

<ion-footer>
  <ion-button class="footer-button" color="primary" expand="full" (click)="openEmail()">Proceed</ion-button>
</ion-footer>