.upper-container {
  height: 50vh;
  position: relative;

  .content-container {
    padding: 0rem 1rem 0rem 1rem;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;
    background-color: rgba($color: #000000, $alpha: .4);
    height: 100%;
    color: #fff;

    .news-title {
      font-size: 1.5rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    .news-body {
      color: #fff;
      margin-bottom: 2rem;
      width: 20rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .read-more {
      ion-button {
        box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(255, 255, 255, .8);
      }
    }
  }

  ion-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    ;
  }

}

.button-container {
  height:10vh;
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers the button vertically if needed */
}

.sos-button {
  --background-color: red !important; /* Change button color to red */
  --color: white !important; /* Change text color to white for better contrast */
}

::ng-deep .sos-button {
  --background: red !important; /* Change button background color to red */
  --color: white !important; /* Change text color to white for better contrast */
}



// lower container

.lower-container {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-right: 1.5rem;

  ion-row {
    ion-col {
      text-align: center;

      ion-card {
        padding-top: 1rem;
        width: 100%;
        box-shadow: none;
      }

      img {
        width: 50%;
      }

      ion-card-subtitle {
        margin-top: 0.5rem;
        line-height: 18px;
        font-size: 0.8rem;
      }
    }
  }
}

.footer-button {
  width: 100%;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}